body{
   background-color: silver;
}

h1{
	color: yellow;
	font-family:arial;
	font-size:40px;
}

.didascalia{
	font-family:arial;
	font-size:10px;
}

h2{
	color: yellow;
	font-family:arial;
}

.blu{
	color:blue;
}


td{
	border-style: solid;
	border-width : 1px;
	color: black;
}
